<div class="container" style="padding-top: 40px;">
  <div align="right"><a class="btn btn-success" href="posts/add" role="button">Add</a></div>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Image URL</th>
        <th scope="col">Content</th>
        <th scope="col">Creator</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each posts}}
      <tr>
        <td>{{title}}</td>
        <td><img src={{imageUrl}} alt="..." class="img-thumbnail" style="max-width: 100px;"></td>
        <td>{{content}}</td>
        <td>{{creator}}</td>
        <td><a class="btn btn-primary" href="posts/edit/{{_id}}" role="button">Edit</a></td>
        <td><a class="btn btn-danger" href="posts/delete/{{_id}}" role="button">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>